{% extends "basic.html" %} 

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
<script src="{{url_for('static',filename='js/echarts.min.js')}}"></script>
<style>
  /* Adjust table size */
  /* #mettable { */
      /* width: 40%;  Adjust the width */
      /* margin: 0 auto;  Center the table */
      /* font-size: 16px;  Smaller font size */
  /* } */

  /* Center the text in both headers and table cells */
  #mettable td {
            padding: 6px;  /* Reduce cell padding */
            text-align: center;  /* Center align text */
            vertical-align: middle; /* Vertically align text in the middle */
        }

        /* Set font size of th tags to 14px */
        /* Set font size of th tags to 14px and use !important to override DataTables' styles */
  /* #mettable th { */
      /* font-size: 10px !important;  Force 14px font size for headers */
  /* } */
</style>
{% endblock %} 


{% block main %}
<section class="banner">
  <div class="banner-box">
    <h2>AlphaInsight!</h2>
    <p>Explore More - Sandbox Version 1.0</p>
    <!-- <form action="#" class="form" id="SearchForm">
      <select id="SearchKey",class="input", style="width: 50%;">
        <option value="option1">        Strategy Monitoring      </option>
        <option value="option2">        Fundamental Research      </option>
      </select>
      
      <button class="search-btn" id="searchBtn">
        <img src="{{url_for('static',filename='pic/search.png')}}" alt="搜尋" />
      </button>
    </form>
    <br> -->
    <div class="descriptionbox">
    Drive smarter decisions with data-driven insights across multiple timeframes and frameworks. Our expertise in risk management, return optimization, and resource allocation helps you navigate market dynamics and seize strategic opportunities.
    </div>
  </div>
  
</section>

<!-- <section class="mains" id="mains"></section> -->
<div class="echarts" id="main-container" style="display: flex; flex-direction: column; align-items: center;">
    <!-- dropdown -->
    <div id="strategyselector" class="hide" style="margin-top: 20px;">Strategy Name :
        <select id="headingDropdown"></select>
    </div>
    <!-- selector -->
    <div id="dateselector" class="hide" style="margin-top: 0px;">
        <label for="year" >Comparing Peformance Date Starts At:</label>
        <select id="year">
          <option value="0">Year</option>
        </select>

        <label for="month"></label>
        <select id="month">
          <option value="0">Month</option>
        </select>
        <button id="logDateButton">Send</button>
    </div>

    <table id="mettable" class="hide" style="width: 50px;">
      <thead>
          <tr>
            <th>Assets</th>
            <th>Return %</th>
            <th>Comp. Annual Return</th>
            <th>Max Drawdown %</th>
            <th>Max Drawdown % Date</th>
            <th>Return % / Max Drawdown %</th>
            <th>Standard Deviation (Std)</th>
            <th>Sharpe Ratio</th>
            <th>Calmar Ratio</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <!-- graph -->
    <div id="main" class="hide" style="width: 900px; height: 500px;padding:10px;"></div>
    <br>
    <div id="bh" class="hide" style="width: 900px; height: 500px;padding:10px;"></div>
    <br>
 

</div>
{% endblock %} 



{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="{{url_for('static',filename='js/index.js')}}"></script>
<script src="{{url_for('static',filename='js/navcontroller.js')}}"></script>

{% endblock %}
